.root {
    margin-top: 24px;
    padding: 30px;
}

.title {
    margin: 25px 0 !important;

    input {
        font-size: 40px;
        font-weight: 900;
    }

    div {
        &:before,
        &:after {
            /* display: none; */
        }
    }
}

.image {
    width: 100%;
    margin-top: 30px;
}

.description {
    margin: 20px 0 !important;
}

.buttons {
    display: flex;

    button {
        margin-right: 15px;
    }
}

.button_delete {
    margin-left: 20px;
}

.button_cancel {
    text-decoration: none;
}
