.root {
    margin-top: 24px;
    padding: 30px;
}

.title {
    margin-top: 25px !important;
    input {
        font-size: 42px;
        font-weight: 900;
    }

    div {
        &:before,
        &:after {
            display: none;
        }
    }
}

.image {
    width: 100%;
    margin-top: 30px;
}

.tags {
}

.description {
    margin: 20px 0 !important;
}

.buttons {
    display: flex;

    button {
        margin-right: 15px;
    }
}

.button_delete {
    margin-left: 20px;
}

.button_cancel {
    text-decoration: none;
}
